@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    min-width: 100vw;
    min-height: 100vh;
}

.nav-main-container {
    display: flex;
    width: 100%;
    height: calc(100vh - 90px);
}

.main-view-container {
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,.6),#121212);
    width: calc(100vw - 230px);
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: flex-end;
}