.playlist-songs-container {
    padding: 20px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.playlist-songs-container .song-list {
    border-top: 1px solid hsla(0,0%,100%,.1);
    margin-top: 60px;
    color: #b3b3b3;
    list-style: none;
}

.playlist-songs-container .song-list .song-item {
    height: 60px;
    display: flex;
    align-items: center;

}